## Database configuration
DATABASE_URL="git check-ignore -v .env.example"

## BetterAuth configuration
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

## GitHub OAuth configuration
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

## Google OAuth configuration
GOOGLE_CLIENT_ID=""

## Next.js configuration
NEXT_PUBLIC_AUTH_URL=""

## TMDB API configuration
TMDB_API_KEY=""
TMDB_BASE_URL=""